

.otp_container{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 25rem;
    height: 100vh;
    box-shadow: 1px 1px 5px 3px rgba(0, 0, 0, 0.482);
    padding: 20px;
    flex-direction: column;
}
.otp_body{
    background:#fff;
    height: max-content;
    width: max-content;
    /* font-family: Arial, sans-serif; */
}
#otp_text_box{
  display: flex;
  justify-content: center;
  align-items: center;
}
.form_body{
  /* display: flex; */
  justify-content: center;
  align-items: center;
}
  .otp-input{
    /* display: flex; */
    justify-content: center;
    width: 30px;
    height: 40px;
    text-align: center;
    margin: 0 5px;
    font-size: 18px;
    /* text-align: center; */
  }
  .submit_btn{
    background: #8727F4;
    border: unset;
    box-shadow: 1px 1px 3px 1px #7700ff;
    border-radius: 3px;
    height: 1.8rem;
    width:10rem;
    
  }
@media (max-width: 400px) {
    .otp-container {
        width: 80%;
    }
}