.login_container{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 25rem;
    height: 100vh;
    box-shadow: 1px 1px 5px 3px rgba(0, 0, 0, 0.482);
    
    padding: 20px;
    /* width: 300px; */
    /* display: flex; */
    flex-direction: column;
    /* align-items: center; */
}
.form_body{
    background:#fff;
    height: max-content;
    width: max-content;
    /* font-family: Arial, sans-serif; */
}
.login_wlc_title{
    margin: 0;
}
.incorrect{
    background: #FFEBEB;
    border-color: #FF4A4A;
}
.error_lable{
    font-size:13px;
    color: #FF4A4A;
}
.login_wlc_title_2{
    margin: 12px 0;
    color: rgb(103, 103, 103);
}
.dark_form {
    width:25rem ;
    display:flex;
    flex-direction: column;
    align-items: center;
}
label{
    display: flex;
    width: 15rem;
    font: 20px bold;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    color: rgb(39, 39, 39);
}
input{ 
    border-style: solid;
    border-color: rgb(135, 135, 135);
    border-radius: 3px;
    height: 1.8rem;
    width:15rem;
}
button{
    background: #8727F4;
    border: unset;
    box-shadow: 1px 1px 3px 1px #7700ff;
    border-radius: 3px;
    height: 1.8rem;
    width:15rem;
}
.last_label{
    width: 20rem;
    font: 18px bold;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    color: rgb(79, 79, 79);
}
@media (max-width: 400px) {
    .login-container {
        width: 80%;
    }
}